body{
    display: inline-block;
    width: 100%;
    height: 100vh;
    background-image: url("images/bg1.jpg");
    overflow:hidden;
}

.container{
    
  position: absolute;
  left: 33%;
  top: 2vh;
  color: #101110;
  font-family: 'Abril Fatface', cursive;
  font-weight: 900;
  font-size: 1500px;
}

#instructions{
    border: 15px solid #ffc728;
    padding: 10px;
    margin: 10px;
    text-align: center;
    position:relative;
    top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    box-shadow: -5px -5px 5px 5px gray;
    border-radius: 20px;
    
}

#box{
    display: inline-block;
    position: relative;
    
    height: 320px;
    width: 250px;
    margin: 10% 0% 0 5%;
}
#thecard{
    position: relative;
    margin-left: 200px;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}
#front{
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: -5px -5px 5px 5px gray;
    padding-top: 15%;
    backface-visibility: hidden;
    background: #ffc728;
    color: #333;
    text-align: center;
    font-family: 'zilla slab', sans-serif;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
}
#back{
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: -5px -5px 5px 5px rgb(130, 155, 144);
    padding-top: 15%;
    backface-visibility: hidden;
    background: #6e6b6b;
    color:black;
    text-align: center;
    font-family: 'zilla slab', sans-serif;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    transform: rotateY(180deg);
}
#thecard:hover{
    transform: rotateY(180deg);
}
#img1{
    width: 170px;
    height: 170px;
    display: block;
    /* border-radius: 50%; */
    margin-left: 16%;
    margin-top: -10%;
}
.name{
    font-weight: bolder;
    text-decoration:underline;
}

.pageForward{
    width: 150px;
    height: 30px;
}